services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5001:5001"

  client:
    build: ./client
    container_name: client
    ports:
      - "8080:5173"
    depends_on:
      - backend
